.tal {
    position: relative;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    background-image: url('../images/20220219_213126.png'), radial-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6));
    background-blend-mode: darken;

  }

  .sect {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
  }


  .sect h2 {
    font-family: 'Roboto Slab', serif;
    font-weight: bolder;
    font-size: 32px;
    color: #FAE425;
    text-align: center;
  }

  .sect p {
    margin: 10px 0;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
  }


  /* welcome face css  */
  .welcome {
    position: relative;
    background-image: url('../images/Rectangle 206.png');
    width: 100%;
  }

  .welcome .welcome_flex {

    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 100px 60px;
  }

  .welcome_flex .wel {

    padding: 0px 60px;
    width: 100%;
    margin-left: 30px;
  }

  .welcome_flex .wel p {
    color: #000000;
    margin-right: 30px;
    margin-top: 10px;
    font-family: 'Poppins', sans-serif;
    font-size: 17px;
    line-height: 25px;
    font-weight: 500;
  }

  .welcome_flex .wel span {
    color: #000000;
    margin-right: 30px;
    margin-top: 10px;
    font-family: 'Poppins', sans-serif;
    font-size: 17px;
    line-height: 25px;
    font-weight: 500;
  }

  .welcome_flex .wel h1 {
    color: #FD4434;
    max-width: 100%;
    font-size: 35px;
    font-family: 'Roboto Slab', serif;
    font-weight: bolder;
  }

  .welcome_img {
    position: relative;
  }



  .welcome_flex .welcome_img img {
    max-width: 100%;
    margin-left: -4px;
    position: relative;
    width: 588px;
    height: auto;
    object-fit: cover;
  }

  .welcome_flex .welcome_img .opacity_img{
    position: absolute;width: 310px;
          top: -160px;
          left: 110px;
          height: auto; filter: brightness(100%);
  }

  /* welcome css end  */


  /* ------photo section css start-------- */

  .photo {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 100px 30px;
    width: 100%;
    height: 100%;
  }

  .photo img {

    margin: 0 12px;
    width: 400px;
    height: 400px;
  }


  .img-wed {
    padding: 100px 60px;
    margin: 0 65px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
  }

  .img-wed div {
    margin: 0 10px;
  }

  .img-wed img {
    object-fit: cover;
    max-width: 100%;
    width: 461px;
    height: auto;
    object-position: bottom;
    margin: 0 10px;
    border-radius: 10px;
  }

  .arrows{
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
 }

  .arrows .prev-arrow{
    position: relative;
 }

  .arrows .prev-arrow img{
    /* position: absolute; */
  width: 42px;
  height: auto;
  right: 35px;
  top: -270px;
 }

  .arrows .next-arrow{
    position: relative;
 }

  .arrows .next-arrow img{
    height: auto;
    /* position: absolute; */
    width: 42px;
    top: -270px;
    left: 35px;
 }

  /* ........photo section end...... */

  /* ============responsive design===================== */
  @media only screen and (max-width:1181px) {
    .tal{
      height: 70vh;
   }
   .sect h2{
      font-size: 25px;
      font-weight: bolder;
   }

   

   .sect p{
      font-size: 12px; 
      text-align: center;
   }
   /* ===============welcome=========== */
    .welcome .welcome_flex{
      flex-direction: column;
      padding: 50px 30px;
    }

    .welcome_flex .wel{
      width: 100%;
      padding: 0px 0px;
      margin-left: 0px;
    }

    .welcome_flex .wel h1{
      font-size: 23px;
      line-height: 30px;
    
      font-weight: bolder;
    }

    .welcome .wel p{
      font-size: 16px;
      margin-right: 0px;
     }

     .welcome_flex .wel span{
      margin-right: 0px;
     }

     .welcome_flex .welcome_img .opacity_img{
      width: 140px;
      top: -55px;
     }

     .welcome_img{
      margin-top: 70px;
     }

     .img-wed{
      padding:50px 30px ;
     }

  }

  @media only screen and (max-width:791px) {
      .img-wed{
       flex-direction: column;
        margin: 0px 0px;
        padding: 50px 30px;
      }
    
      .img-wed div{
       margin: 12px 0;
      }
    
      .img-wed img{
       margin: 0 0;
      }
 }