.tal {
    position: relative;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    background-image: url('../images/39b2ee861a9bff32d44ce7c24d41e77c.png'), radial-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6));
    background-blend-mode: darken;

}

.sect {
    font-family: 'Roboto Slab', serif;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-family: 'Roboto', sans-serif;
}


.sect h2 {
    font-size: 35px;
    color: #FAE425;
    text-align: center;
}

.sect p {
    margin: 10px 0;
    font-size: 24px;
    font-family: 'Poppins', sans-serif;
}

.beach {
    background-image: url('../images/Rectangle 206.png');
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 100px 60px;
}

.beach .first_beach {
    padding: 0px 60px;
    width: 90%;
    margin-left: 30px;
}

.beach .first_beach h1 {
    color: #FD4434;
    max-width: 100%;
    line-height: 38px;
    font-size: 35px;
    font-family: 'Roboto', sans-serif;
}

.beach .first_beach p {
    color: #000000;
    margin-top: 10px;
    font-family: 'Poppins', sans-serif;
    font-size: 17px;
    line-height: 25px;
    font-weight: 500;
}


.beach .second_beach img {
    max-width: 100%;
    margin-left: -4px;
    position: relative;
    width: 604px;
    height: 500px;
    object-fit: cover;
}

.beach button {
    width: 180px;
    height: 50px;
    background-color: #EC3237;
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
    color: #FFFFFF;
    outline: none;
    border: none;
    border-radius: 8px;
    margin: 25px 0;
}

.img-wed {
    padding: 100px 60px;
    margin: 0 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.img-wed div {
    margin: 0 10px;
}

.img-wed img {
    object-fit: cover;
    max-width: 100%;
    width: 480px;
    height: 400px;
    object-position: bottom;
    margin: 0 10px;
    border-radius: 5px;
}

@media only screen and (max-width:1181px){
    .tal{
      height: 70vh;
   }
   .sect h2{
      font-size: 25px;
   }
   .sect p{
      font-size: 12px; 
      text-align: center;
   }

   .beach{
    flex-direction: column;
    padding: 50px 30px;
   }

   .beach .first_beach{
    width: 100%;
    padding: 0px 0px;
    margin-left: 0px;
   }

   .beach .first_beach h1{
    font-size: 25px;
    line-height: 24px;
   }

   .beach .first_beach p{
    font-size: 16px;
   }

   .beach .second_beach img{
    margin-left: 0px;
   }

   .second_beach{
    margin-top: 20px;
   }

   .img-wed{
    padding: 50px 30px;
    margin: 0px 0px;
   }

   .img-wed img{
    margin: 0px 0px;
   }
  }

  @media only screen and (max-width:791px) {
     .img-wed{
      flex-direction: column;
     } 

     .img-wed div{
      margin: 12px 0;
     }
  }