.tal {
    position: relative;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    background-image: url('../images/20220219_213126.png'), radial-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6));
    background-blend-mode: darken;

 }

 .sect {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
 }


 .sect h2 {
   font-family: 'Roboto Slab', serif;
    font-size: 32px;
    color: #FAE425;
    text-align: center;
    font-weight: bolder;
 }
.ser{
   margin-top: 50px;
}
 .sect p {
    margin: 10px 0;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    text-align: center;
 }

 .wed_plan {
    padding: 100px 20px;
   
 }

 .wed_plan h1 {
    font-size: 35px;
    font-family: 'Roboto Slab', serif;
    color: #EC3237;
    font-weight: bolder;

 }

 .wed_plan .wed_head p {
    font-family: 'Poppins', sans-serif;
    font-size: 17px;
    margin-top: 10px;
    color: #000000;
    text-align: center;
    font-weight: 600;
    /* font-weight: bold; */
 }

 .wed_plan .wed_para {
    margin-top: 20px;
    
 }

 
 .wed_plan .wed_para p {
    width: 75%;
    max-width: 100%;
    font-size: 17px;
    line-height: 24px;
    font-weight: 500;
    display: block;
    margin: auto;
    text-align: center;
    font-family: 'Poppins', sans-serif;

 }

 .wed_para ol{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-top: 20px;
 }

 .wed_para ol li{
   line-height: 24px;
   text-align: center;
   font-weight: 500;
   margin: 10px 0px;
   font-size: 17px;
   font-family: 'Poppins', sans-serif;
 }

 .wed-sara ol{
   /* display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: flex-start;
   margin-top: 20px; */
   width: 100%;
   display: grid;
   justify-content: center;
   

 }

 .wed-sara ol li{
   line-height: 24px;
   font-weight: 500;
   margin: 10px 0px;
   font-size: 17px;
   font-family: 'Poppins', sans-serif;
 }
.wed-sara ol h1{
  margin: 0 -20px;
}
 
 .wed-sara ol p{
   margin: 20px -20px;
   font-size: 17px;
    line-height: 24px;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
 }

 .wed-sara ol a{
   text-decoration: none;
   color: #000000;
 }

 .wed_plan .wed_para .second-para {
   margin-top: 20px;
}

.wed_plan .wed_para .third-para {
   margin-top: 20px;
}

.wed_plan .wed_para .fourth-para {
   margin-top: 20px;
}

.wed_plan .wed_para .fifth-para {
   margin-top: 20px;
}


 /* ==============gel sec style start =============== */
.gel-sec{
 margin-top: 50px;
}
 .gel-sec .gelsec_flex {
    display: flex;
    align-items: flex-start;
    justify-content: center;

    padding: 0 30px;
 }

 .gel-sec .gelsec_flex .firstImg {
    position: relative;

 }

 .firstImg {
    position: relative;
    margin: 0 10px;
 }

 .firstImg img {
    max-width: 100%;
    width: 554px;
    height: auto;
    /* margin: 0 6px; */
    filter: brightness(.5);
    object-fit: cover;

 }

 .firstImg p {
    position: absolute;
    bottom: 2%;
    font-family: 'Raleway', sans-serif;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 15px;
    font-weight: 600;
    z-index: 1;
    white-space: nowrap;
 }

 .gel-sec .gelsec_flex .thirdImg {
    position: relative;
 }
 .thirdImg{
   margin: 0 10px;
 }

 .thirdImg img {
    max-width: 100%;
    width: 554pxpx;
    height: auto;
    /* margin: 0 6px; */
    filter: brightness(0.5);
 }

 .thirdImg p {
    font-family: 'Raleway', sans-serif;
    position: absolute;
    bottom: 1%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 15px;
    font-weight: 600;
    white-space: nowrap;
 }

 .complicate {
    position: relative;
    
 }

 .complicate .complicate_flex {
    position: relative;
    display: flex;
    align-items: flex-start;
    justify-content: center;
 }

 .complicate_flex .complicate_first {
    position: relative;
    margin: 0 10px;
 }



 .complicate .complicate_first img {
    width: 264px;
    height: auto;
    
    filter: brightness(.5);
    max-width: 100%;
 }

 .complicate .complicate_first p {
    position: absolute;
    font-family: 'Raleway', sans-serif;
    bottom: 2%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size:15px;
    font-weight: 600;
   white-space: nowrap;
 }

 .complicate .complicate_second {
    position: relative;
    margin: 0 10px;
 }

 .complicate .complicate_second img {
    filter: brightness(0.5);
    max-width: 100%;
    width: 264px;
    height: auto;
 }

 .complicate .complicate_second p {
    position: absolute;
    font-family: 'Raleway', sans-serif;
    bottom: 2%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 15px;
    font-weight: 600;
    white-space: nowrap;

 }

 .secondimgLower {
    position: relative;
    margin: 20px 10px;
 }

 .secondimgLower img {
    max-width: 100%;
    filter: brightness(.4);
    width: 554px;
    height: auto;
 }

 .secondimgLower p {
    font-family: 'Raleway', sans-serif;
    position: absolute;
    bottom: 2%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 15px;
    font-weight: 600;
    white-space: nowrap;
 }

 /* =======subconcious part css============ */

 .gelexy_flex {
    display: flex;
    align-items: flex-start;
    justify-content: center;

    padding: 0 30px;
 }

 .gelexy_flex .gelexy_first{
    position: relative;
    margin: 0 10px;
 }

 .gelexy_flex .gelexy_first img{
    filter: brightness(0.5);
  width: 857px;
  height: auto;
    /* margin: 0 6px; */
    max-width: 100%;
 }

 .gelexy_flex .gelexy_first p{
    font-family: 'Raleway', sans-serif;
    position: absolute;
    bottom: 2%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 15px;
    font-weight: 600;
    white-space: nowrap;
 }

 .subconcious .subconcious_flex{
    position: relative;
    display: flex;
    align-items: flex-start;
    justify-content: center;
 }

 .subconcious .subconcious_flex_first{
    position: relative;
    margin: 0 10px;
 }

 .subconcious .subconcious_flex_first img{
    width: 426px;
  filter: brightness(0.5);
  max-width: 100%;
  height: auto;
}
 
 .subconcious .subconcious_flex_first p{
    font-family: 'Raleway', sans-serif;
    position: absolute;
    bottom: 2%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 15px;
    font-weight: 600;
    white-space: nowrap;
 }

 .subconcious .subconcious_flex_second {
    position: relative;
    margin: 0 10px;
 }

 .subconcious .subconcious_flex_second img{
    width: 379px;
    filter: brightness(0.5);
    max-width: 100%;
    height: auto;
 }

 .subconcious .subconcious_flex_second p{
    font-family: 'Raleway', sans-serif;
    position: absolute;
    bottom: 2%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 15px;
    font-weight: 600;
    white-space: nowrap;
 }

 .secondLowersite {
    position: relative;
    margin: 15px 10px;
 }

 .secondLowersite img{
    filter: brightness(.5);
    width: 832px;
    max-width: 100%;
    height: auto;
 }

 .secondLowersite p{
    font-family: 'Raleway', sans-serif;
    position: absolute;
    bottom: 2%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 15px;
    white-space: nowrap;
    font-weight: 600;
 }

 .ThemeWeed{
    position: relative;
    padding: 0 20px;
    margin: 0 10px;
 }

 .ThemeWeed img{
    display: block;
    margin: 10px auto;
    filter: brightness(.5);
    max-width: 1720px;
    width: 100%;
    height: auto;
    object-fit: cover;
 }

 .ThemeWeed p{
    font-family: 'Raleway', sans-serif;
    position: absolute;
    bottom: 2%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 15px;
    font-weight: 600;
    white-space: nowrap;
 }
.btn{
 display: block;
    width: 150px;
    height: 37px;
    background-color: #EC3237;
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
    color: #FFFFFF;
    outline: none;
    border: none;
    border-radius: 5px;
    margin: 25px auto;
}

/* ============media query=============== */

@media only screen and (max-width: 1181px){
   .tal{
      height: 70vh;
   }
  
   .sect h2{
      font-size: 25px;
   }
   .sect p{
      font-size: 12px; 
      text-align: center;
   }

   .wed_plan h1{
      font-size: 25px;
   }
    .wed_plan{
      padding: 50px 30px;
    }
   .wed_plan .wed_head p{
      font-size: 13px;
   }

   .wed_plan .wed_para p{
      width: 100%;
   }

   
}

@media only screen and (max-width:977px) {
   /* ==========first section of gel start========== */
   .gel-sec .gelsec_flex{
      flex-direction: column;
      align-items: center;
      padding: 0px 0px;
   }

  .wed-sara ol li {
   margin: 10px 20px;
  }

  .wed-sara ol h1{
   margin: 0px 0px;
  }

  .wed-sara ol p{
   margin: 0 0px;
  }

  .wed_para ol li{
   margin: 10px 20px;
  }
   /* in zero mai 10 lagana hai  */

   .firstImg {
     margin: 0px 0px;
   }

   .complicate_flex .complicate_first{
      margin: 10px 0px;
   }

   .complicate_flex .complicate_second{
      margin: 10px 0px;
   }

   .secondimgLower{
      margin: 0px 0px;
   }

   .thirdImg{
      margin: 10px 0px;
   }

   /* ================first section of gel end========== */
  .gelexy_flex{
   flex-direction: column-reverse;
   padding: 0px 0px;
  }

  .subconcious .subconcious_flex_first{
   margin: 0px 0px;
  }

  .subconcious .subconcious_flex_second{
   margin: 0px 0px;
  }

  .secondLowersite{
   margin: 10px 0px;
  }

  .gelexy_flex .gelexy_first{
   margin: 0px 0px;
  }

  .ThemeWeed{
   margin: 0px 0px;
   padding: 0px 0px;
  }
  .ThemeWeed img{
   height: 300px;
  }
  .gel-sec p{
     font-size: 12px;
  }

  .complicate .complicate_first p{
   font-size: 12px;
  }

  .complicate .complicate_second p{
   font-size: 12px;
  }

  .subconcious .subconcious_flex_first p{
   font-size: 12px;
  }

  .subconcious .subconcious_flex_second p{
   font-size: 12px;
  }

  .gelexy_flex .gelexy_first p{
   font-size: 12px;
  }
}